<h1><%= @patient.name %></h1>

<ul>
  <% @patient.appointments.each do |appt| %>
    <li><%= link_to appt.doctor_name, doctor_path(appt.doctor) %></li>
    <li><%= appt.date_time %></li>
  <% end %>
</ul>
